.app {
  background-color: #283645;
}

.app__list {
  list-style: none;
}

.app__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  background-color: #283645;
}

.app__title {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}
