.details__wrapper {
  background-color: #283645;
}

.details__caption {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.details__price {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
}

.details__list {
  list-style: none;
}

.details__title {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}
