.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: #ffffff;
  display: none;
}

@media (min-width: 660px) {
  .main-nav__list {
    display: none;
  }
}

@media (min-width: 950px) {
  .main-nav__list {
    width: 800px;
    display: flex;
    justify-content: space-between;
  }
}
